$primary-color: #d48d99;

$bg-color: #949fb1;
$secondary-color: #80788d;
$terciary-color: #5a6882;

$font-color: #0f131f;
$font-family-one: "Crimson Text", serif;
$font-family-two: "Roboto", sans-serif;

@mixin altura {
  height: 100vh;
  width: 100vw;
}
* {
  padding: 0;
  margin: 0;
}

body {
  background: url("../img/bg.png");
  background-attachment: fixed;

  font-family: "Georama", sans-serif;
  font-family: "Roboto", sans-serif;
  font-family: "Tenali Ramakrishna", sans-serif;
  font-family: "Crimson Text", serif;
}

@media (max-width: 600px) {
  nav {
    opacity: 0.9;
    background-color: $primary-color;
    display: none;
    top: 0;
    position: fixed;
    width: 100vw;
    height: 100vh;
    text-align: center;
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      li {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 100vw;
        height: 20vh;
      }
    }

    a {
      font-size: 1.2em;
      text-decoration: none;
      color: black;
    }
  }
  #menu-toggle {
    height: 10vh;
    width: 10vh;
    display: flex;
    align-items: center;
    position: fixed;
    right: 0;
    top: 0;
  }

  #inicio {
    @include altura();
    font-style: italic;

    color: $font-color;

    display: grid;
    grid-template-rows: repeat(2, 1fr);

    text-align: center;

    h1 {
      -webkit-box-shadow: 0px 10px 13px -7px #000000,
        10px 6px 16px -1px rgba(15, 19, 31, 0);
      box-shadow: 0px 10px 13px -7px #000000,
        10px 6px 16px -1px rgba(15, 19, 31, 0);
      border: solid;
      border-radius: 10px;
      margin: 0 1em 1em 1em;
      background: transparent;
      margin-top: 40%;
      padding: 0.5em;
      font-size: 2.5rem;
      grid-row: 1;
    }

    .contenedor {
      width: 100%;
      grid-row: 2;

      button {
        font-size: 1.2em;
        color: $terciary-color;
        border: solid $terciary-color;
        background-color: transparent;
        height: 3em;
        width: 25%;
        display: flexbox;
        color: $font-color;
      }
      .contacto {
        margin-top: 1em;
        width: 100%;
        button {
          background-color: transparent;
          width: 77%;
          border: solid;
        }
      }
    }
  }

  #presentacion {
    @include altura();
    color: $font-color;

    text-align: center;
    display: grid;
    grid-template-rows: repeat(3, 1fr);

    .contenido {
      -webkit-box-shadow: 0px 10px 13px -7px #000000,
        10px 6px 16px -1px rgba(15, 19, 31, 0);
      box-shadow: 0px 10px 13px -7px #000000,
        10px 6px 16px -1px rgba(15, 19, 31, 0);
      border: solid;
      border-radius: 10px;

      background: transparent;
      margin-top: 40%;
      padding: 0.5em;
      margin: 2em;
      grid-row: 1;
    }
    img {
      display: flex;
      align-items: center;
      width: 30vw;
      height: 35vh;
      grid-row: 2;
    }
    .contenedor {
      width: 100%;
      grid-row: 3;

      button {
        font-size: 1.2em;
        color: $terciary-color;
        border: solid $terciary-color;
        background-color: transparent;
        height: 3em;
        width: 38%;
        display: flexbox;
        color: $font-color;
      }
      .contacto {
        margin-top: 1em;
        width: 100%;
        button {
          background-color: transparent;
          width: 77%;
          border: solid;
        }
      }
    }
  }
}
